//fonts
$mainfont: Lato, Arial, Helvetica, sans-serif;
$titlefont: Poppins, Arial, Helvetica, sans-serif;

//colors
$bodybckgrcolor: #FFFFFF;
$navbckgrcolor: #082B59;
$navlinkcolor: #f2f2f2;
$bodytxtcolor: #131D26;
$buttoncolor: #59331D;
$buttonhover: #082B59;
$bordercolor: #D98555;
$linkhover: #D98555;

//images
$imgradius: 10px;